/* bebas-neue-regular - latin */
@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/bebas-neue-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/bebas-neue-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v27-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* open-sans-700 - latin */
  @font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/open-sans-v27-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

*{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Open Sans';
    font-style: normal;
}
body{
    margin: 0 auto;
    max-width: 1920px;
}
header{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.info_in_logo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.small_text{ 
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;   
}
.big_size_text{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 5.70937px;
    margin: 0 auto;
}
.scroll_down{
    align-items: flex-end;
    margin-bottom: 2%;
    letter-spacing: 5.70937px;
    font-size: 16px;
    font-weight: 500;
}
.box{
    display: flex;
    justify-content: center;
}
.box_with_border{
    display: flex;
    justify-content: center;
    border: 1px solid #E6E6E6;
    height: 7vh;
}
.navbar{
    display: flex;
    justify-content: space-between; 
    width: 65%; 
}
.logo_in_navbar{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.spis_a{
    margin-top: 1vmax;
}
.nav_a{
    font-size: 15px;
    color: #48555B;
    font-weight: 500;
    text-decoration: none;
    margin-right: 15px
}
.nav_a:hover{
    color: #00A4E5;
    font-weight: 600;
    text-decoration: none;
    margin-right: 15px;
}
.li_inline{
    display: inline;
}
.about{
    display: flex;
    justify-content: space-between; 
    width: 65%;
}
.our_story{
    text-align: center;
}
.our_story_p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2.30625px;
    color: #48555B;
    margin-top: 5%;
    margin-bottom: 10px;
}
.awesome_line{
    height: 3px;
    width: 5%;
    border-radius: 50px;
    background-color: #00A4E5;
    margin: 0 auto;
    margin-bottom: 5%;
}
.info_about{
    display: flex; 
    flex-wrap: wrap;
}
.info_text, .info_pic{
    width: 50%;
}
.info_text{
    letter-spacing: 0.1875px;
    color: #48555B;
    text-align: left;
}
.info_text_bold{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
}
.blue_text{
    color: #00A4E5;
}
.info_text_reg{
    font-size: 16px;
    font-weight: 400;
}
.info_pic{
    display: flex;
    justify-content: space-between; 
}
.elem_in_info_pic{
    width: 160px;
    background-size: cover!important;
}
.elem{
    text-align: left;
    color: white;
    margin-left: 8px;
    margin-top: 8px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 700;
}

.services{
    width: 65%;
    margin-top: 3%;
    margin-bottom: 3%;
}
.capabilities{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding-bottom: 0px;

}
.column_in_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2.30625px;
    color: #48555B;
}
.awesome_line2{
    height: 3px;
    width: 5%;
    border-radius: 50px;
    background-color: #00A4E5;
    margin-bottom: 5%;
}
.capabilities_text{
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.2px;
    width: 41%;
}
.all_services_link{
    text-decoration: none;
    text-align: center;
}
.all_services{
    width:150px; 
    height:40px;
    background-color:#00A4E5;
    padding-top: 7%;
    color:white;
}
.services_elems{
    display: flex;
    justify-content: space-between;
    margin-top:2%;
}
.services_element{
    border: 1px solid #E6E6E6;
    width: 30%;
    padding: 2%;
}

.services_text{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
}

.services_name{
    font-weight: 700;
    font-size: 18px;
}
.services_icon{
    width: 65.62px;
    height: 75px;
}
.icon_1{
    background-image: url('../img/Bitmap-3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 65.62px;
    height: 75px;
}
.icon_2{
    background-image: url('../img/Bitmap-2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 65.62px;
    height: 75px;
}
.icon_3{
    background-image: url('../img/Bitmap-1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 65.62px;
    height: 75px;
}
.other_info{
    width: 100vw;
    height: 600px;
    background-image: url('../img/bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
}
.info_and_button{
    display: flex;
    justify-content: CENTER;
    flex-direction: column;
}
.title_info{
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 0.15px;
    color: #48555B;
}
.knopka{
    margin: 0 auto;
    text-decoration: none;
}
.txt-dec-none{
    text-decoration: none;
}
.txt_in_knopka{
    width:150px; 
    height:39px;
    background-color:#00A4E5;
    padding-top: 3%;
    color:white; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: 5px;
}
.newsletter{
    height: 100px;
    width: 100vw;
    background: #171819;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.newletter_elements{
    display: flex;
    justify-content: center;
}
.news_title, .subscribe{
    display: flex;
    width: 19%;
    justify-content: space-between;
}
.news_title{
    font-weight: 700;
    font-size: 22px;
    color: white;
    letter-spacing: 0.846154px;
}
.input_1{
    margin-right: 15px;
    margin-left: 5px;
    width:200px; 
    height:40px;
    margin-block-start: 17px;
    padding-left: 30px;
    font-family: inherit;
    font-size: 14px;
}
.sign_txt{
    width:162px; 
    height:40px;
    background-color:#00A4E5;
    margin-block-start: 17px;
    color:white;
    padding-top: 5%;
    padding-left:30%;
}

.footer{
    background-color: #141A20;
    width: 100vw;
    color: white!important;
    display: flex;
    justify-content: center;
}
.foot_names{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}
.foo_elem_1{
    width: 17%;
    margin-right: 3%;
}
.foot_logo{
    width: 103px; 
    height: 23px;
}
.otst{
    margin-bottom: 30px;
}
.foo_elem_2{
    width: 20%;
    margin-right: 3%;
}
.foot_a{
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 2px;
}
.foot_a:hover{
    color: #00A4E5;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
}
.mb5{
    margin-bottom: 5%;
}
.foo_elem_3{
    width: 10%;
    margin-right: 3%;
}
.foo_elem_4{
    width: 10%;
}
.foot_img{
    width:13px;
    height:13px;
    margin-right: 10%;
}
.foo_ul_li{
    display: flex;
}
.pl45{
    padding-left: 45px;
}
.pl0{
    padding-left: 0px;
}
.big_otst{
    margin-top: 63px;
}

.copyright{
    width: 100vw;
    height: 70px;
    text-align: center;
    background: #171819;
    color:white
}
.copyright_txt{
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}